/* TODO change submit button style*/
input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
}

input, span, label {
    display: block;
    margin: 10px 0;
    padding: 5px;
    border: none;
    font-size: 22px;
}

input:focus {
    outline: 0;
}

.input-placeholder {
    font-family: 'Benne', serif;
}

/* Question */
input.question {
    font-size: 48px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */
input.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid #6aa570;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0;
}

input.question:focus + label {
    width: 80%;
}

input.question:focus,
input.question:valid {
    padding-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;
}

input.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"]:hover {
    background: #EEE;
}

input[type="submit"]:active {
    background: #999;
}

input.question:valid ~ #submit1 {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question:invalid ~ #submit1 {
    display: none;
}


/* QUESTION 2 */
/* Question */
input.question2 {
    font-size: 20px;
    font-weight: 200;
    border: none;
    /*width: 80%;*/
    font-family: 'Benne', serif;
    background: rgba(0, 0, 0, 0);
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 20px 0;
    width: 25%;
    border-bottom: 1px solid #6aa570;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0;
}

input.question2:focus {
    width: 80%;
}

input.question2:valid ~ #submit2 {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question2:invalid ~ #submit2 {
    display: none;
}


@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}
